* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.p1__wrapper {
  background-color: #4242EA;
}

.front-page {
  width: 100%;
  height: 100vh;
  color: white;
  clip-path: circle(5%);
}

.front-page video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-text, .pursuit-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-shadow: 0 0 10px black;
}

.blend {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  opacity: 0.3;
}

.title {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.sub-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: normal;
}

.second-page {
  height: 100vh;
}

.pursuit-logo {
  height: 125px;
  width: 125px;
}

.second-page__title {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}

.class-container {
  padding-left: 40px;
}

.class-container__header {
  font-size: 2rem;
  border-bottom: 1px solid gray;
}

.class-container__list {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
